#timer {
    background-color: green;
    width: 100px;
    height: 40px;
    margin: 10px auto;
    color: aliceblue;
    font-size: 22px;
    font-weight: bold;
    font-family: arial;
    text-align: center;

}
